body{
    position:absolute;
}

.grid {
    position:absolute;
    display: grid;
    width: 100vw;
    height: 100vh;
    row-gap:1vh;
    grid-template-areas:
    "a b c"
    "d d d"
    "d d d"
    "e e e";
}

.grid > div {
    width: 30vw;
    height: 30vh;
    }

.grid > div:nth-child(2) {
    background-color: yellow;
    justify-self:center;
    align-self:center;
    box-sizing: border-box;
    height:100%;
}

.grid > div:nth-child(odd) {
    background-color: skyblue;
    justify-self:center;
    align-self:center;
    box-sizing: border-box;
    height:100%;
}

.grid > #a{
    grid-area: a;
}

.grid > #b{
    grid-area: b;
}

.grid > #c{
    grid-area: c;
}

.grid > #d{
    z-index:0;
    grid-row:span 3;
    grid-column:span 4;
    background-image:url(art.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    height:100%;
    width:100%;
    grid-area: d;
}

.grid > #e{
    grid-area: e;
}

.zindex{
    grid-area:d;
    background-color:red;
    z-index:2;
    width: 30vw;
    height: 30vh;
    justify-self:right;
    align-self:center;
}

form {
    justify-self:center;
}

p{
    text-align:center;
}